<div class="pizzas" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div>
    <h2>Choose pizza size:</h2>
    <form  th:action="@{/controller/pizzaSize}" method="POST">
        <fieldset>
            <ul style="list-style-type:none">
                <li th:each="size : ${pizzaSizes}">
                    <input th:id="${size.toString()}" th:name="sizeSelected" th:value="${size.toString()}" th:type="radio"/>
                    <label th:for="${size.toString()}" th:text="${size.toString()}"></label>
                </li>
            </ul>
        </fieldset>
        <input type="submit" value="Submit" />
    </form>
    </div>
    <aside>
        <table>
            <tr>
                <th colspan="2">
                    Your Order Status
                </th>
            </tr>
            <tr>
                <td><b>Pizza Type</b></td>
                <td><span th:text="${pizzaSelected}"></span></td>

            </tr>
        </table>
    </aside>
</div>