<form th:action="/controller/pizzas/create" method="POST" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div class="form-group">
        <label for="pizzaName">Pizza Name</label>
        <input type="text"
               name="name"
               class="form-control"
               required="true"
               id="pizzaName" placeholder="Pizza Name">
    </div>
    <div class="form-group">
        <label for="pizzaDescription">Pizza Description</label>
        <textarea name="description"
                  id="pizzaDescription"
                  class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="veggie">Vegetarian</label>
        <input type="checkbox" name="veggie" id="veggie" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>