<div class="pizzas" th:object="${order}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <h1>Pizza Order page - Order confirmation </h1>
<table>
    <tr>
        <th colspan="2">
            Your Order Status
        </th>
    </tr>
    <tr>
        <td><b>Client Name </b></td>
        <td th:text="${order.clientName}"></td>
    </tr>
    <tr>
        <td><b>Client Address </b></td>
        <td th:text="${order.clientAddress}"></td>
    </tr>
    <tr>
        <td><b>Client IP Address</b></td>
        <td th:text="${ipAddress}"></td>
    </tr>
    <tr>
        <td><b>Client Browser</b></td>
        <td th:text="${userAgent}"></td>
    </tr>
    <tr>
        <td><b>Order id</b></td>
        <td th:text="${order.orderId}"></td>
    </tr>
    <tr>
        <td><b>Pizza Type </b></td>
        <td th:text="${order.pizzaType}"></td>
    </tr>
    <tr>
        <td><b>Pizza Size </b></td>
        <td th:text="${order.pizzaSize}"></td>
    </tr>
</table>
<div>
    <a href="logout">Log out</a>
</div>
</div>
