<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="utf-8">
        <title>Pizza Order page - Welcome and choose pizza</title>
        <style type="text/css">
            body {
                width: 800px;
                margin: auto;
            }
        </style>

</head>
<body>
    <div class="container">
        <div class="pizzas">
            <h2>Choose pizza:</h2>
            <form  th:action="@{/}" method="POST">
                <fieldset>
                <ul style="list-style-type:none">
                    <li th:each="pizza : ${pizzas}">
                        <input th:id="${pizza.name}" th:name="pizzaSelected" th:value="${pizza.name}" th:type="radio"/>
                        <label th:for="${pizza.name}" th:text="${pizza.name+' '+pizza.description}"></label>
                    </li>
                </ul>
                </fieldset>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
</body>
</html>